*{
    margin: 0;
    padding: 0;
}
.banner{

    margin-left: 11pc;
    background-color: #bfadd0;
}
#bannerimg{
    height: 482px;
    width: 100%;
}
body{
    background-color: #8f8a81;
    
  
}
.container{
    background-color: #F8CBA6;
    width: 200px;
    height: 662px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: fixed;
}
li{
    list-style: none;
    margin-top: 2pc;
    padding: .5pc;
    padding-left: 33px;
    margin-left: 48px;
    height: 27px;
    width: 111px;
    display: flex;
    align-items: center;
    border-bottom-left-radius: 70px;
    border-top-left-radius: 70px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
li:hover{
    background-color: aliceblue;
    color: black;
    cursor: pointer;
    transition:.6s;
}
li a{
    text-decoration: none;
    color: black;
}
.logo{
    display: flex;
    align-items: center;
    margin-top: 1.7pc;
}
.list{
    margin-top: 2pc;
}
#fn{
    color: aliceblue;
    font-size: 2pc;
   Font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#sn{
    font-size: 2pc;
    Font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#dash{
    background-color:#8f8a81;
    color: black;
}
.container33{
    width: 1149px;
    color: white;
    height: 482px;
    margin-left: 12.5pc;
 
}
#aboutimg{
    height:482px;
    width: 1166px;
}
#abouttxt{
    position: absolute;
    color:#F8CBA6;
    font-weight: 700;
    font-size: 2.6pc;
    text-shadow: 4px 4px 12px black;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
#abouttxtcenter{
    display: flex;
    justify-content: center;
    align-items: center;
}
#container333{
    background-color: white;
    margin: 1pc;
    height: 500px;
    width: 1100px;
    border-radius: 10px;
    display: flex;
    margin-left: 14PC;
    align-items: center;
}
#abinvestimg{
    height: 407px;
    width: 613px;
    padding: 1pc;
    margin-left: 1pc;
    border-radius: 34px;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h2{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #F8CBA6;
text-shadow: 2px 2px 3px black;
margin-bottom: 1pc;
}
.aboutus{
    margin-left: 200px;
    background-color: black;
    color: aliceblue;
    height: 119px;
    width: 1149px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
p{
    margin-top: 1pc;
    margin-bottom: 1pc;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
button{
    background-color: #F8CBA6;
    padding: .5pc;
    border-radius: 10px;
    border: 2px solid black;
}
button:hover{
    background-color: white;
    cursor: pointer;
    transition: .6s;
}
#google_element{
    background-color: white;
    border-radius: 10px;
    padding: 1pc;
}